<!-- password reset confirm -->
{% extends "base.html" %}
{% block title %}PASSWORD RESET CONFIRM{% endblock %}

{% block content %}
    {% if validlink %}
        <p>Enter and confirm new password.</p>
        <form method="post">
        {% csrf_token %}
            <table>
                <tr>
                    <td>{{ form.new_password1.errors }}
                        <label for="id_new_password1">New Password</label></td>
                    <td>{{ form.new_password1 }}</td>
                </tr>
                <tr>
                    <td>{{ form.new_password2.errors }}
                        <label for="id_new_password2">Confirm Password</label></td>
                    <td>{{ form.new_password2 }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" value="Change my password"></td>
                </tr>
            </table>
        </form>
    {% else %}
        <h1>Password reset failed</h1>
        <p>This password reset link is invalid, possibly because it was used. Request another password reset link.</p>
        <a href="{% url 'password_reset' %}">Reset Password?</a>
    {% endif %}
{% endblock %}