<!-- add task -->
{% extends 'base.html' %}
{% block title %}ADD TASK{% endblock %}
{% block content %}
<h1 class="underline">Add Task</h1>
<nav>
	<a href="{% url 'add_category' %}">add category or project</a> |
	<a href="{% url 'edit_category' %}">edit category or project</a>
</nav>
<br>
	<form method="POST">

	  {% csrf_token %}
		<input type="hidden" name="user" value="{{ user.pk }}">
		<table>
		<tr>
			<td class="form">Category or Project</td>
			<td class="form"><select class="category" name="category" aria-label="Category">
					{% if categories %}
						{% for category in categories %}
						<option value="{{ category.id }}">{{ category.name }}</option>
						{% endfor %}
				{% endif %}
				</select></td>
		</tr>
		<tr>
			<td class="form">Task</td>
			<td class="form"><input type="text" placeholder="Task" name="name" aria-label="Task"></td>
		</tr>
		<tr>
			<td class="form">Priority</td>
			<td class="form"><input type="number" name="priority" min="0" max="20" value="1"  aria-label="Priority"></td>
		</tr>
		<tr>
			<td class="form">Start <br>(Now: {% now 'P M jS' %})</td>
			<td class="form"><input type="datetime-local" name="start" aria-label="Start"></td>
		</tr>
		<tr>
		  <td class="form">Due</td>
			<td class="form"><input type="datetime-local" name="due" aria-label="Due"></td>
		</tr>
		<tr>
		  <td class="form" colspan="2"><button class="button" type="submit" aria-label="Submit">Add Task</button></td>
		</tr>
		</table>
	</form>
<p>Please note, the start and date inputs are widgets which only function on Google's Chrome browsers.</p>
{% endblock %}