<!-- edit answer -->
{% extends 'base.html' %}
{% block title %}Edit ANSWER{% endblock %}
{% block content %}
<h1 class="underline">Edit Answer</h1>
<nav>
	<a href="{% url 'add_question' %}">add question</a> |
	<a href="{% url 'add_motto' %}">add motto</a>
</nav>
<br>
<form method="POST">
	{% csrf_token %}
	<table>
	  <tr>
      <td class="form">
			  <input type="hidden" name="question" value="{{ answer.question.id }}" aria-label="Question" >
				{{ answer.question }}
			</td>
		</tr>
		<tr>
			<td class="form"><input type="text" value="{{ answer }}" aria-label="Answer" name="answer"></td>
		</tr>
	  <tr>
		  <td class="form"><button class="button" type="submit" aria-label="Submit">Edit Answer</button></td>
		</tr>
  </table>
</form>
{% endblock %}