<!-- user -->
{% extends 'base.html' %}
{% block title %}USER{% endblock %}
{% block content %}
{% if user %}
<h1 class="underline">{{ user }}</h1>
<ul class="no_padding">
  {% if user.email %}
    <li>email: {{ user.email }}</li>
    <br>
  {% endif %}
  <li>Joined:</li>
  <li>{{ user.date_joined }}</li>
  <br>
  <li>Most Recent Login:</li>
  <li>{{ user.last_login }}</li>
</ul>
<p>(Note: Only you can see your user profile. To change your email, username, or password, email 'mattskov1@gmail.com'.)</p>
{% endif %}
{% endblock %}